<ActionBar class="action-default-one">
    <Label text="Proveedores" class="action-bar-label"></Label>
</ActionBar>


<!--  
<GridLayout row="2" width="100%" backgroundColor="silver">
    <ListView #listview [items]="items" separatorColor="transparent">
        <ng-template let-item="item">
            <StackLayout class="main">
                <StackLayout class="content">
                    <Image stretch="aspectFill" class="card-img" (tap)="showItem(item.id)" [src]="item.imageSrc"></Image>
                    <GridLayout width="100%" columns="auto,*" rows="auto,auto" class="" verticalAlignment="center">
                        <Label [text]="item.category" row="0" col="0" rowSpan="2" [backgroundColor]="item.categoryTag" class="fa category-icon"></Label>
                        <Label row="0" col="1" class="item-name" textwrap="true" verticalAlignment="bottom" horizontalAlignment="left" [text]="item.name"></Label>
                        <GridLayout row="1" col="1" rows="auto" columns="auto,auto,auto">
                            <Label row="0" col="0" class="item-category" textwrap="true" verticalAlignment="top" horizontalAlignment="left" [text]="item.category"></Label>
                            <Label col="1" row="0" class="fa rating-icon" text="&#xf005;"></Label>
                            <Label col="2" row="0" class="rating-value item-category" [text]="item.rating"></Label>
                        </GridLayout>
                    </GridLayout>
                    <StackLayout width="100%" marginTop="5" class="line"></StackLayout>

                    <GridLayout columns="auto,*,auto,auto" rows="auto">
                        <GridLayout col="0" rows="auto" columns="auto,auto">
                            <Label col="0" row="0" #like [class]="item.isLike ? 'fa like-icon liked-active' : 'fa like-icon default'" [text]="item.isLike ? '&#xf164;':'&#xf087;'"></Label>
                            <Label col="1" row="0" class="layout" [text]="item.likes"></Label>
                        </GridLayout>
                        <StackLayout col="1" orientation="horizontal" marginLeft="15">
                            <Label ref="" class="like-icon layout fa" text="&#xf0e5;"></Label>
                            <Label class="layout" [text]="item.comments"></Label>
                        </StackLayout>
                        <GridLayout col="2" rows="auto" columns="auto,auto" marginRight="15">
                            <Label col="0" row="0" #favorite [class]="item.isFavorite ? 'like-icon fa heart-active' : 'like-icon fa default'" [text]="item.isFavorite ? '&#xf004;':'&#xf08a;'"></Label>
                            <Label col="1" row="0" class="layout" text="Favorite"></Label>
                        </GridLayout>
                        <StackLayout col="3" orientation="horizontal">
                            <Label ref="" class="like-icon layout fa" text="&#xf045;"></Label>
                            <Label class="layout" text="Share"></Label>
                        </StackLayout>

                    </GridLayout>
                </StackLayout>

                <StackLayout width="100%" class="lineBreak"></StackLayout>

            </StackLayout>
        </ng-template>
    </ListView>
</GridLayout>


-->



<GridLayout>
    <ListView [items]="newsItems" class="list-group" [itemTemplateSelector]="templateSelector">

        <ng-template nsTemplateKey="big" let-item="item">
            <GridLayout class="list-group-item">
                <Image [src]="item.imageUrl" stretch="aspectFit" height="200"></Image>

                <Label [text]="item.title" class="big-header"></Label>
            </GridLayout>
        </ng-template>

        <ng-template nsTemplateKey="small" let-item="item">
            <GridLayout [nsRouterLink]="['/supplierDetail', item.id]" columns="100, 125, *" rows="30, auto,*" style="background-color: rgb(216, 212, 212);" class="list-group-item">
                <Image width="100" height="100" style=" margin: 0%;" [src]="item.imageUrl" row="0" col="0" rowSpan="2" class="thumb img-circle img-border"></Image>

                <Label class="fas fa-star" row="0" col="1" text="&#xf005; &#xf005; &#xf005; &#xf005; &#xf005;" style="color:goldenrod ;margin: 0%;font-size: xx-large;"></Label>

                <Label row="0" col="2" style="margin: 0%;" text="{{item.califi}}/5.0"></Label>
                <Label colSpan="2" row="1" col="1" style=" margin: 0%;" [text]="item.text" textWrap="true"></Label>
                <Label colSpan="3" row="2" col="0" [text]="item.title" class="small-header"></Label>
            </GridLayout>
        </ng-template>

        <!--   
     <ng-template nsTemplateKey="small" let-item="item">
            <GridLayout columns="auto *" rows="30 auto" class="list-group-item">
                <Image style="background-color:green;" [src]="item.imageUrl" stretch="aspectFill" row="0" col="0" rowSpan="2" width="100" height="100" class="thumb img-circle"></Image>


                <Label row="0" col="1" style="background-color:gray;" [text]="item.title" class="list-group-heading"></Label>
                <Label row="1" col="1" style="background-color: red;" [text]="item.text" class="list-group-item-text" textWrap="true"></Label>
                <Label class="fas fa-star" row="1" col="1" text="&#xf005;" style="color:goldenrod;font-size: xx-large;background-color:hotpink;"></Label>

            </GridLayout>
        </ng-template>



      <ng-template nsTemplateKey="big" let-item="item">
            <GridLayout columns="50, auto, *" rows="50, auto, *" width="210" height="210" backgroundColor="lightgray">
                <Label text="Label 1" row="0" col="0" backgroundColor="red"></Label>
                <Label text="Label 2" row="0" col="1" colSpan="2" backgroundColor="green"></Label>
                <Label text="Label 3" row="1" col="0" rowSpan="2" backgroundColor="blue"></Label>
                <Label text="Label 4" row="1" col="1" backgroundColor="yellow"></Label>
                <Label text="Label 5" row="1" col="2" backgroundColor="orange"></Label>
                <Label text="Label 6" row="2" col="1" backgroundColor="pink"></Label>
                <Label text="Label 7" row="2" col="2" backgroundColor="purple"></Label>
            </GridLayout>
        </ng-template>

        -->

        <ng-template nsTemplateKey="small-no-image" let-item="item">
            <StackLayout class="list-group-item">
                <Label row="0" col="1" [text]="item.title" class="list-group-heading"></Label>
                <Label row="1" col="1" [text]="item.text" class="list-group-item-text" textWrap="true"></Label>
            </StackLayout>
        </ng-template>
    </ListView>

    <Button [text]="isProfiling ? 'stop profiling' : 'start profiling'" (tap)="toggleProfiling()" verticalAlignment="bottom" margin="0 20"></Button>

</GridLayout>